<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <%= yield %>
    <%= react_component "Landing", { output: @output }, :div %>
    <%= content_tag :div,
    id: "output_data",
    data: @output.to_json do %>
      <% end %>

  </body>
</html>
